@media(max-width:768px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
       background-color: rgb(255, 255, 255);
       color: black;
        background-size: 100vw 100vh;
        color: rgb(0, 0, 0);
        margin-left: 1px;
        font-family: sans-serif;
    }
    h2{
        color: rgb(4, 4, 95);
        font-size: 25px;
    }
  
    #header{
        width: 100%;
        height: 40px;
        background-color: white;
    }
    #header ul{
        display: flex;
        gap: 250px;

    }
    .icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    #icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
   
    #nav-bar{
        position: absolute;
        top: 0;
        display:none ;
        width: 73vw;
        height:100vh ;
        background-color:rgb(7, 7, 48);
        color: white;
        font-size: large;
        z-index: 1;

    }
    #close{
        position: absolute;
        top: 0;
        margin-left: 66vw;
        cursor: pointer;
    }
    #nav-bar a{
        text-decoration: none;
        font-size: 25px;
        color: white;
    }
    
    #nav-bar ul li{
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 20vw;
        justify-content: baseline;
        justify-items:center;
        
       
    }
    #description-header{
        margin-top: 30vh;
        overflow-x: auto;
    }
    #description-header h1{
        font-size: 40px;
        text-transform: uppercase;
        color: rgb(5, 3, 1);
        font-family: fantasy;
    }
     #description-header h5{
        font-size: 20px;
     }
     #getstarted,#getstarted1{
        width: 40vw;
        height: 30px;
        border-radius: 25px;
        color:black;
        background-color:transparent;
        margin-left: 25vw;
        font-size: 20px;
        &:hover{
            background-color: brown;
            transition: 0.5s ease-in;
        }
}

 #getstarted a{
        text-decoration: none;
        font-size: 20px;
 }

#footer{
    margin-top: 10vh;
    background-color: rgb(142, 142, 226);
}
#footer ul li{
   display: inline-block;
   list-style-type:none;
   margin-right: 15vw;
}
#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial-container {
    z-index: 0;
  width: 100vw;
  height: 20vh;
  text-align: left;
  background: rgb(207, 207, 207);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(194, 166, 166, 0.904);
  padding: 10px;
  overflow: hidden;
  position: relative;
  border: none;
}

.testimonial {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(20px);
}

.testimonial.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}
}

@media(width>768px) {
    *{
        padding: 0;
        margin: 0;
    }
    body{
        background-image: url(https://i.pinimg.com/564x/6a/09/e9/6a09e938fee868eca515b3652f9a4a9b.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        color: rgb(255, 255, 255);
        margin-left: 1px;
    }
   
   
    #nav-bar{
        width: 100vw;
        height: 30px;
        background-color:rgb(60, 60, 207);
        color: white;
        font-size: large;
       

    }
    #name1{
        margin-left: 10vw;
    }
    #close{
        display: none;
        position: absolute;
        top: 0;
        margin-left: 66vw;
    }
    #nav-bar a{
        text-decoration: none;
        font-size: 20px;
        color: white;
          &:hover{
            color: black;
        }
      
    }
    #header{
        display: none;
    }
    #nav-bar ul{
       
    }
    #nav-bar ul li{
        list-style-type:none;
        display: inline-block;
        margin-right: 10px;
          &:hover{
            background-color: white;
        }
        
       
    }
  
    #description-header{
        margin-top: 30vh;
        overflow-x: auto;
       
    }
    #description-header h1{
        font-size: 40px;
        text-transform: uppercase;
        color: rgb(5, 3, 1);
        font-family: fantasy;
    }
     #description-header h5{
        font-size: 20px;
     }
     #getstarted{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        color: azure;
        background-color: rgb(228, 103, 54);
        margin-left:3px;
        font-size: 20px;
        &:hover{
            background-color: brown;
            transition: 0.5s ease-in;
        }
}
  #getstarted1{
        width: 38vw;
        height: 40px;
        border-radius: 5px;
        color: azure;
        background-color: rgb(228, 103, 54);
        margin-left:30vw;
        font-size: 20px;
        &:hover{
            background-color: brown;
            transition: 0.5s ease-in;
        }
}

 #getstarted,#getstarted1 a{
        text-decoration: none;
        font-size: 20px;
 }
#heads{
    color: rgb(32, 29, 29);
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial-container {
  width: 100vw;
  height: 40vh;
  text-align: left;
  background: rgb(252, 250, 250);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(70, 32, 32, 0.904);
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.testimonial {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(20px);
}

.testimonial.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}
#footer{
    background-color: rgb(130, 130, 204);
   
}
#footer ul{
   display: inline-block;
}


}

